{% for field in _data %}
{% if field.Gui | length %}
    {% if field.Gui.ValidateType == "object" %}
        "{{ field.Gui.Name | safe }}": {
            type: "object",
            properties: {
                {{ _helper.renderHelper("jsonvalidate.template", field.Properties) | safe }}
            }
        },
    {% elif field.Type == "array" %}
        "{{ field.Gui.Name | safe }}": {
            type: "array",
            items: {
                type: "object",
                properties: {
                    {{ _helper.renderHelper("jsonvalidate.template", field.Properties) | safe }}
                }
            }
        },
    {% else %}
        "{{ field.Gui.Name | safe}}": { 
            "type": "{{ field.Gui.ValidateType | safe }}",
            "name": "{{ field.Gui.Label | safe }}",
            "required": {{ "true" if field.Required else "false" }}
        },
    {% endif %}
{% endif %}
{% endfor %}