import { errorHandler, filterParser } from "@fendy3002/express-helper";
import * as types from '../../types';

export default async (router, config: types.config.app, moduleInfo: types.moduleInfo) => {
    const getSupplement = async (req) => {
    };

    router.get("/:id/view-log",
        errorHandler.handled(async (req, res, next) => {
            res.locals._title = req.moduleInfo.title + " Log";
            const changeRequestModel = req.mongoose.model("change_request");
            const currentModuleModel = req.mongoose.model("{{ Model.Name }}");
            let id = req.params.id;
            let result = await changeRequestModel.findById(id).lean();
            let data;
            
            if(result.Operation == "D"){
                data = result.CurrentValue;
            }else{
                data = result.NextValue;
            }

            let modalData = null;
            if (req.query._form_id) {
                let oldFormId = req.query._form_id;
                modalData = req.flash('modal_' + oldFormId)[0];
            }

            return res.render(`${req.moduleInfo.urlPrefix}/edit.html`, {
                data: {
                    ...result.CurrentValue,
                    ...result.NextValue,
                    ...result
                },
                operation: "V",
                modal: modalData,
                moduleInfo: req.moduleInfo
            });
        })
    );
};