<div class="col-sm-12 col-md-6">
    <div class="form-group row">
        <div class="col-md-4 text-right">
            <label>|$ _data.Label $|</label>
        </div>
        <div class="col-md-8">
            <input class="form-control" type="checkbox" name="|$ _data.Name $|"
                checked="{{ 'checked' if data.|$ _data.Name $| }}" />
        </div>
    </div>
</div>