{% extends "template/operational.html" %}
{% import "template/crud/filter_modal.html" as filterModal %}

{% macro filterContent(context) %}
<div class="row">
    <div class="col-md-6">
        <div class="row form-group">
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="row form-group">
            
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
<ol class="breadcrumb" style="margin-bottom: 0px;">
    <li class="breadcrumb-item"><a href="/#">Home</a></li>
    <li class="breadcrumb-item active">{{ moduleInfo.title }}</li>
</ol>
<div class="card">
    <div class="card-header">
        <h2 class="card-title mb-0">{{ moduleInfo.title }}</h2>
    </div>
</div>
<div class="container-fluid">
    <div id="ui-view">
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 16px;">
            <li class="nav-item">
                <a class="nav-link" href="/{{ moduleInfo.urlPrefix }}">{{ moduleInfo.title | upper }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void()">TRANSACTION ORDER</a>
            </li>
        </ul>
        <div class="card">
            <div class="card-body">
                <a href="/{{ moduleInfo.urlPrefix }}/create" class="btn btn-square btn-primary">
                    <i class="fa fa-plus"></i> Add
                </a>
                <button type="button" class="btn btn-square btn-primary" data-toggle="modal"
                    data-target="[data-role='filter_modal']">
                    <i class="fa fa-search"></i> Filter
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Pagination -->
                        {{
                            _pagination({
                                link: '/' + moduleInfo.urlPrefix + '/transaction-order?page={current}',
                                cssClass: "pull-right",
                                query: _query,
                                current: _paginationData.current, 
                                rowCount: _paginationData.rowCount,
                                pageLimit : _paginationData.pageLimit
                            }) | safe
                        }}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px;">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-sm text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            Transaction Date
                                        </th>
                                        <th>
                                            Transaction #
                                        </th>
                                        <th>
                                            Transaction Status
                                        </th>
                                        <th>
                                            Operation
                                        </th>
                                        |$ _helper.renderHelper("tableHeaderField.html.template", Model.Fields) | safe $|
                                        <th>
                                            Created By
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for each in data %}
                                    <tr class="{{ each.TransactionStatusCode | rowStatus }} ninja-container">
                                        <td>{{ each.LastModifiedAtTimeStamp | fromNow | safe }}</td>
                                        <td>{{ each._id }}</td>
                                        <td><i
                                                class="status-flag"></i>{{ _status(moduleInfo.statusField, each.TransactionStatusCode) }}
                                        </td>
                                        <td>
                                            {{ _lang.text('operation.' + each.Operation, '') | upper }}
                                        </td>
                                        |$ _helper.renderHelper("tableBodyField.html.template", Model.Fields) | safe $|
                                        <td>{{ each.LastModifiedByUserAccountName }}</td>
                                        <td>
                                            <div class="ninja-panel extend-left">
                                                <a href="/{{ moduleInfo.urlPrefix }}/{{ each._id | urlencode }}/view-log"
                                                    class="btn btn-secondary btn-square btn-sm">
                                                    <i class="fa fa-eye"></i> View
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="99" align="center">No data</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Pagination -->
                        {{
                            _pagination({
                                link: '/' + moduleInfo.urlPrefix + '/transaction-order?page={current}',
                                cssClass: "pull-right",
                                query: _query,
                                current: _paginationData.current, 
                                rowCount: _paginationData.rowCount,
                                pageLimit : _paginationData.pageLimit
                            }) | safe
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ filterModal.render({
    body: filterContent,
    query: _query,
    context: {
        _query: _query
    }
}) | safe }}

<div class="modal fade" role="dialog" id="_form_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p data-role="icon"></p>
                <p data-role="content"></p>
                <button class="btn btn-primary btn-square" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    let modalData = {{ modal | default (null) | dump | safe }};

    $.fn.datepicker.defaults.format = "yyyy-mm-dd";
    $('.input-group.date').datepicker({
        todayBtn: "linked",
        endDate: '+0d',
        todayHighlight: true
    });
    $("[data-role='select2']").select2();

    if (modalData) {
        window._u.showModal(modalData, $("#_form_modal"));
    }
</script>
{% endblock %}